<div ng-controller="adminIndex">
	<h4>So luot xem: {{views}}	<button class="btn btn-danger" ng-click="loadView()">LoadView</button></h4>
	<div class=" admin-option">
		<div class="col-xs-6 col-sm-4 col-md-3">
			<a href="" ui-sref="index">
				<i class="fa fa-television fa-5x" aria-hidden="true"></i>
				<h3>Trang chinh</h3>
			</a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<a href="" ui-sref="adminPost.list">
				<i class="fa fa-film fa-5x" aria-hidden="true"></i>
				<h3>Post</h3>
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a href="" ui-sref="adminCategory">
				<i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
				<h3>Quan ly Category</h3>
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a href="" ui-sref="adminAcount.list">
				<i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
				<h3>Quan ly tai khoan</h3>
			</a>
		</div>
	</div>
</div>
<hr>
